@use '../base/functions' as funcs;
@forward '../components/card';

.cards-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: funcs.to-rem(40);
}
